.pos-absolute{position:absolute;} 
.bg-black{background:black;} 
.pdg-5px{padding:5px;} 
.clr-white{color:white;} 
.pdg-0{padding:0;} 
.mrg-0{margin:0;} 
.fnt-sm{font:sm;} 
.brd-b-blackd1{border-bottom:blackd1;} 
.txt-center{text:center;} 
.pdg-tb-5px{padding:5px;} 
.clr-blackl3{color:#f24543;} 
.brd-t-blackd1{border-top:blackd1;} 
