.bg-greyl1{background:greyl1;} 
.bg-greenl2{background:greenl2;} 
.bg-black{background:black;} 
.clr-fffff{color:fffff;} 
.bg-pos-cc{background-position:center center;} 
.bg-greend1{background:greend1;} 
.clr-white{color:white;} 
.bg-greenl1{background:greenl1;} 
.clr-greyd3{color:greyd3;} 
.bg-greenl3{background:greenl3;} 
.clr-greyl2{color:greyl2;} 
.bg-green{background:green;} 
.clr-blackl3{color:#ajsdas;} 
.clr-greend1{color:greend1;} 
.clr-black{color:black;} 
.bg-white{background:white;} 
.clr-greyd1{color:#ffcb05;} 
.clr-greenl1{color:greenl1;} 
.clr-blackd3{color:blackd3;} 
.clr-blackd1{color:blackd1;} 
.clr-blackl2{color:blackl2;} 
.bg-greyl2{background:greyl2;} 
